<div class="section">
  <div class="row container">
    <h1>Unread fics</h1>
    <form id="filter">
      <div class="input-field col s12 m12 l6">
        <select id="sort">
            <option value="5">Follows</option>
            <option value="4">Favorites</option>
            <option value="3">Reviews</option>
            <option value="1">Update Date</option>
          </select>
        <label>Sort: </label>
      </div>
      <div class="input-field col s12 m12 l6">
        <select id="time">
            <option value="4">Updated within 6 months</option>
            <option value="99">All</option>
            <option value="14">Published within 6 months</option>
            <option value="15">Published within 1 year</option>
            
          </select>
        <label>Time: </label>
      </div>
      <input class="btn waves-effect waves-light" type="button" value="Update">
    </form>
    <div class="col s12 m12 l12">
      <% for(var i = 0; i < storyTitles.length; i+=5 ) { %>
        <div class="col s12 m12 l3">
          <a href="https://www.fanfiction.net//<%= storyTitles[i+1] %>">
            <p>
              <%= storyTitles[i] %>
            </p>
          </a>
        </div>
        <div class="col s12 m12 l3">
          <a href="https://www.fanfiction.net//<%= storyTitles[i+3] %>">
            <p>
              <%= storyTitles[i+2] %>
            </p>
          </a>
        </div>
        <div class="col s12 m12 l6">
          <p>
            <%= storyTitles[i+4] %>
          </p>
        </div>
        <% } %>
          <div>
            <ul class="pagination">
              <li id="left" class="waves-effect material-icons"><a id="-1">chevron_left</a></li>
              <% for(var i = 1; i <= 20; i++ ) { %>
                <li id="<%= i %>" class="waves-effect">
                  <a id="<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %>
                  <li id="right" class="waves-effect material-icons"><a id="+1">chevron_right</a></li>
            </ul>
          </div>
    </div>
  </div>